<!DOCTYPE html>
<html>

<head>
  <title>Super Hero API</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body><h1>SuperHero API</h1>
  <% if(locals.superheroes) {%>
  <% for(var i=0;i<10;i++){%>
 <img src="<%=superheroes[i].images.md%>" data-name="<%=superheroes[i].name%>" alt="<%=superheroes[i].name%>" class="img"/>
 <div class="user"><%=superheroes[i].name%></div>
  <%} %>

<% }else{%><h1>What's your secret?</h1><%} %>
 <!--  
  <div class="card">
   
    <p>
      
    </p>
  </div>
  <p class="user">
   
  </p> -->
</body>

</html>